DATABASE_URL=postgres://distributed_math:distributed_math@127.0.0.1:5432/distributed_math
TEST_DATABASE_URL=postgres://distributed_math:distributed_math@127.0.0.1:5432/distributed_math
JOB_QUEUE_BACKEND=postgres
# SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/task-queue
WORKER_MAX_RETRIES=3
WORKER_POLL_INTERVAL_SECONDS=1
WORKER_CONCURRENCY=4
